/* ナビゲーション初め */
.site_nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    transition: all 0.5s ease 0s;
    background-color: black;
}

.site_nav.scroll-nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1rem;
    padding: 10px 50px;
    background: white;
}

.site_nav .logo {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.site_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
}

.site_nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0px 15px;
    transition: all 0.5s ease 0s;
}

a.btn-sns--instagram {
    background: linear-gradient(45deg, rgb(253, 244, 151) 0%, rgb(253, 244, 151) 5%, rgb(253, 89, 73) 45%, rgb(214, 36, 159) 60%, rgb(40, 90, 235) 90%);
}

a.btn-sns {
    font-size: 40px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px;
    border-radius: 50%;
}

.logo {
    font-family: "Times New Roman", Times, serif;
}

.site_nav.scroll-nav .logo,
.site_nav.scroll-nav ul li a {
  color: black;
}
/* ナビゲーション終わり */

.contact {
    width: 80%;
    height: 160vh;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0px auto;
}

.contact h1 {
    padding-top: 15%;
    text-align: center;
    font-size: 35px;
    padding-bottom: 3%;
    width: 80%;
    border-bottom: 5px solid rgb(221, 221, 221);
    margin: 0px auto;
}

.btn--orange, a.btn--orange {
    color: rgb(255, 255, 255);
    background-color: rgb(235, 97, 0);
}

.btn, a.btn, button.btn {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    letter-spacing: 0.1em;
    color: rgb(33, 37, 41);
    margin-top: 15px;
    padding: 10px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.form-group h2::after {
    content: "※必須";
    color: red;
}

#go_out::after {
    content: none;
}

.form-group h2 {
    font-size: 25px;
    padding: 20px 0px;
}

.form-group h2 {
    font-size: 25px;
    padding: 20px 0px;
}

input, select {
    vertical-align: middle;
}

#for_example {
    padding: 10px 0px;
}

label #text {
    width: 240px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    line-height: 1em;
    border-radius: 5%;
    padding: 12px;
    background: red;
    transition: all 0.3s ease 0s;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-image: initial;
}

/* フッター初め */
.footer {
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer p {
    font-family: "Times New Roman", Times, serif;
}

.copyright {
    display: flex;
}
/* フッター終わり */

/* 最初のjquery初め */
.start {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}

.start .title {
	position: fixed;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	display: none;
    z-index: 9999;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.top {
    font-size: 100px;
}

/* 最初のjquery終わり */