/* ナビゲーション初め */
.site_nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    transition: all 0.5s ease 0s;
}

#nav_bg {
    background-color: black;
}

.site_nav.scroll-nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1rem;
    padding: 10px 50px;
    background: white;
}

.site_nav .logo {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.site_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
}

.site_nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0px 15px;
    transition: all 0.5s ease 0s;
}

a.btn-sns--instagram {
    background: linear-gradient(45deg, rgb(253, 244, 151) 0%, rgb(253, 244, 151) 5%, rgb(253, 89, 73) 45%, rgb(214, 36, 159) 60%, rgb(40, 90, 235) 90%);
}

a.btn-sns {
    font-size: 40px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px;
    border-radius: 50%;
}

.logo {
    font-family: "Times New Roman", Times, serif;
}

.site_nav.scroll-nav .logo,
.site_nav.scroll-nav ul li a {
  color: black;
}
/* ナビゲーション終わり */

.contact {
    width: 80%;
    height: 160vh;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0px auto;
}

.contact h1 {
    padding-top: 15%;
    text-align: center;
    font-size: 35px;
    padding-bottom: 3%;
    width: 80%;
    border-bottom: 5px solid rgb(221, 221, 221);
    margin: 0px auto;
}

.btn--orange, a.btn--orange {
    color: rgb(255, 255, 255);
    background-color: rgb(235, 97, 0);
}

.btn, a.btn, button.btn {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    letter-spacing: 0.1em;
    color: rgb(33, 37, 41);
    margin-top: 15px;
    padding: 10px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.form-group h2::after {
    content: "※必須";
    color: red;
}

#go_out::after {
    content: none;
}

.form-group h2 {
    font-size: 25px;
    padding: 20px 0px;
}

.form-group h2 {
    font-size: 25px;
    padding: 20px 0px;
}

input, select {
    vertical-align: middle;
}

#for_example {
    padding: 10px 0px;
}

label #text {
    width: 240px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    line-height: 1em;
    border-radius: 5%;
    padding: 12px;
    background: red;
    transition: all 0.3s ease 0s;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-image: initial;
}

/* フッター初め */
.footer {
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer p {
    font-family: "Times New Roman", Times, serif;
}

.copyright {
    display: flex;
}
/* フッター終わり */

/* 最初のjquery初め */
.start {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}

.start .title {
	position: fixed;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	display: none;
    z-index: 9999;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.top {
    font-size: 100px;
}

/* 最初のjquery終わり */

.menu {
    display: none;
}

#nav-toggle, #gloval-nav {
    display: none;
}

@media screen and (max-width: 375px) {
    .start {
        display: none;
    }

    nav ul li {
        display: none;
    }

    /* .site_nav ul {
        padding-right: 5%;
    } */

    .logo {
        margin: 0 auto;
    }

    a.btn-sns {
        position: absolute;
        left: 20px;
    }

    .catch_copy {
        clip-path: polygon(50% -80%, 100% 50%, 50% 180%, 0% 50%);
    }

    .catch_small {
        font-size: 15px;
    }

    .catch_big {
        font-size: 50px;
    }

    #catch_s_id {
        padding-bottom: 0px;
    }

    /* ハンバーガーメニュー初め */
    #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle;
        margin-left: 70%;
    }
      
    /*ハンバーガーアイコンをCSSだけで表現*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        transition: all 0.4s;
        height: 3px;/*線の太さ*/
        width: 25px;/*長さ*/
        border-radius: 3px;
        background: blue;
        display: block;
        content: '';
        cursor: pointer;
        z-index: 9999;/*最前面*/
    }

    #nav-open span:before {
        bottom: -8px;
    }

    #nav-open span:after {
        bottom: -16px;
    }


    /*中身*/
    #nav-content {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        transition: .2s ease-in-out;
    }

    #nav-content.open {
        display: block;
        opacity: 1;
        overflow: auto;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);/*背景色*/
        overflow: hidden;/*ブラー効果でボヤけた部分を非表示*/
        z-index: 1;
    }


    /*:beforeにぼかし効果を設定する*/
    #nav-content.open:before {
        content: '';
        overflow: hidden;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
        z-index: -1;/*重なり順序を一番下にしておく*/
    }


    /*チェックが入ったら表示する内容*/

    .hamburger-top {
        height: 40px;/*×ボタンと被らないように*/
    }

    .category {
        text-align: center;
        margin-top: 2rem;
    }

    .category-title {
        padding: 4rem;
        list-style: none;
    }

    .category-title a {
        color: #333;
        text-decoration: none;
    }


    /*三本線を動かす*/
    #nav-open.active span {
        -webkit-transform: translateY(8px) rotate(-45deg);
        transform: translateY(8px) rotate(-45deg);
        background-color: blue;
    }

    #nav-open.active span:before {
        -webkit-transform: translateY(-8px) rotate(45deg);/*打ち消す*/
        transform: translateY(-8px) rotate(45deg);/*打ち消す*/
        opacity: 0;
        z-index: 9999;
    }

    #nav-open.active span:after {
        -webkit-transform: translateY(-16px) rotate(45deg);
        transform: translateY(-16px) rotate(90deg);
        background-color: blue;
    }
    /* ハンバーガーメニュー終わり */

    .site_nav {
        top: -1%;
    }

    .contact h1 {
        padding-top: 20vh;
    }

    label textarea {
        width: 70%;
    }

    .contact {
        height: auto;
    }

    .button {
        margin-bottom: 30px;
    }
}